*, *:after, *:before {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;

}


body{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color:#0A3871;
    min-height: 100vh; 
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #6299dd 100%);
    
}

h2{
    font-weight: bold;
}

.logo-container{
    display: flex;
    justify-content: center; 
    align-items: center;
    
   
}

#alert{
    border: 1px solid #000000;
    margin: .5rem auto;
    width: 400px;
    padding: 15px;
    font-size: 16px;
    background-color: #f44336;
    color: white;
    text-align: center;
    border-radius: 8px;
  
}

.main-content{
    margin: .5rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    max-width: 1200px;
    width: 100%; 
    padding: 1rem;
}

.text-box, .result-box {
    text-align: center;
     
}



#text-input{
    margin: .5rem auto;
    width: 100%;
    height: auto; 
}


.result-box{
    margin-top: .5rem;
}


#result-text{
    margin-top: .5rem;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#no-result{  
    color: black;
  
   
}

#no-result p{
    font-weight: bold;
    margin: .5rem auto;
}


@media (max-width: 1024px) {
    .main-content {
        grid-template-columns: 1fr; 
    }
}

.responsive-image {
    width: 100%;
    height: auto; 
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;   
}

.buttons button{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px; 
    padding: .5rem .5rem;
    height: 50px;
    cursor: pointer;
}




#encrypt{
    color: white;
    background-color: #0A3871;
    
    
}

#decrypt, #clear {
    border: 1px solid #0A3871;
   
}

#encrypt:hover, #decrypt:hover, #clear:hover{
    background-color: #000000;
    color: #2586fc;
}



.hidden {
    opacity: 0;
    visibility: hidden;
}

.show {
    opacity: 1;
    visibility: visible;
}